
body{
	padding: 0px auto;
	background-image: url("../img/fondo.jpg");

}

.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
pre {
	tab-size: 8;

}


  
  /* Sidebar links */
  .sidebar a {
	display: block;
	color: white;
	padding: 16px;
	text-decoration: none;
	
  }
  
  /* Active/current link */
  .sidebar a.active {
	background-color: #071a2b;
	color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
	background-color: #0b3040;
	color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
  }
  
 
  

@media screen and (max-width: 768px) {
	.side-collapse-container{
		width:100%;
		position:relative;
		left:0;
		transition:left .4s;
	}
	.side-collapse-container.out{
		left:200px;
	}
	.side-collapse {
		top:50px;
		bottom:0;
		left:0;
		width:200px;
		position:fixed;
		overflow:hidden;
		transition:width .4s;
	}
	.side-collapse.in {
		width:0;
	}
}